@font-face {
  font-family: "Kumbh";
  src: url("./assets/Kumbh_Sans/KumbhSans-VariableFont_YOPQ\,wght.ttf")
    format("woff2-variations");
  font-weight: 100 900;
}

:root {
  --blue: #5175ff;
  --light-blue: #829cff;
  --black: #25293a;
  --dark-grey: #333950;
  --grey: #747b95;
  --salmon: #f05b5b;
  --white: #ffffff;
  --off-white: #f2f2f2;
  --periwinkle: #e4eaff;
  --periwinkle-dark: #d3dcff;
  --fill-white: #fafafa;

  --kumbh: "Kumbh", sans-serif;

  --cost-size: 3.5rem;
  --header-mobile: 2.5rem;
  --number-text: 2rem;
  --paragraph-mobile: 1rem;
  --card-header: 1.25rem;
  --time-text: 0.75rem;

  --line-height-taller: 4rem;
  --line-height-tall: 3rem;
  --line-height-small: 1.625rem;

  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bolder: 700;
}

.kumbh {
  font-family: var(--kumbh);
}

body {
  background-color: var(--fill-white);
  margin: 0;
  width: 100%;
}

.flex-header {
  display: flex;
  justify-content: center;
  margin: 3rem 0 5.8rem 0;
}

.svg-width {
  max-width: 100%;
  height: auto;
}

.background-svg {
  color: black;
  position: absolute;
  top: -10rem;
  left: -2.7rem;
  width: 100%;
  height: 458px;
  background-image: url("./assets/home/bg-pattern-header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.chart-svg {
  position: relative;
  width: 171px;
  height: 192px;
  background-image: url("./assets/home/illustration-charts.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-chart {
  display: flex;
  justify-content: center;
}

.alt-top-section-header {
  color: var(--dark-grey);
  font-size: var(--header-mobile);
  font-weight: var(--bolder);
  vertical-align: top;
  line-height: var(--line-height-tall);
  text-align: center;
}

.top-section-header {
  color: var(--dark-grey);
  font-size: var(--header-mobile);
  font-weight: var(--bolder);
  vertical-align: top;
  line-height: var(--line-height-tall);
  text-align: center;
}

.top-section-paragraph {
  color: var(--grey);
  font-size: var(--paragraph-mobile);
  font-weight: var(--regular);
  vertical-align: top;
  line-height: var(--line-height-small);
  text-align: center;
}

.top-section {
  max-width: 20.5rem;
  margin: 0 auto 5rem;
}

.button1 {
  font-size: var(--paragraph-mobile);
  line-height: var(--line-height-small);
  text-align: left;
  vertical-align: top;
  background-color: var(--blue);
  color: var(--white);
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 2rem;
}

.button2 {
  font-size: var(--paragraph-mobile);
  line-height: var(--line-height-small);
  text-align: left;
  vertical-align: top;
  background-color: var(--periwinkle);
  color: var(--blue);
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 2rem;
  margin: 1rem 0 2rem 0;
}

.button3 {
  font-size: var(--paragraph-mobile);
  line-height: var(--line-height-small);
  text-align: left;
  vertical-align: top;
  background-color: var(--white);
  color: var(--blue);
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 2rem;
  margin: 1rem 0 2rem 0;
}

.button4 {
  font-size: var(--paragraph-mobile);
  line-height: var(--line-height-small);
  text-align: center;
  vertical-align: top;
  background-color: var(--blue);
  color: var(--white);
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 2rem;
  margin-top: 2.5rem;
  font-weight: var(--bolder);
  align-self: center;
}

.button1:hover {
  background-color: var(--light-blue);
}

.button2:hover {
  background-color: var(--periwinkle-dark);
}

.button3:hover {
  color: var(--light-blue);
}

/* .button4:hover {
  background-color: var(--light-blue);
} */

.button-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.white {
  color: var(--white);
}

.black {
  color: var(--black);
}
/*
.blue {
  color: var(--blue);
}

.grey {
  color: var(--grey);
}
*/
.dark-grey {
  color: var(--dark-grey);
}

.grey {
  color: var(--grey);
}

.opacity {
  opacity: 0.75;
}

.card-section {
  display: flex;
  flex-direction: column;
  max-width: 20.5rem;
  gap: 2rem;
  margin: 0 auto;
}

.card-features {
  font-weight: var(--regular);
  line-height: var(--line-height-small);
  vertical-align: top;
  font-size: var(--paragraph-mobile);
}

.card-users {
  font-weight: var(--regular);
  line-height: var(--line-height-small);
  vertical-align: top;
  font-size: var(--paragraph-mobile);
  margin-bottom: 2rem;
}

.card-price {
  font-weight: var(--bolder);
  line-height: var(--line-height-taller);
  font-size: var(--cost-size);
  vertical-align: top;
  margin: 0;
}

.card-header {
  font-weight: var(--bolder);
  line-height: var(--line-height-small);
  vertical-align: top;
  font-size: var(--card-header);
}

.white-item-box {
  background-color: var(--white);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.blue-item-box {
  background-color: var(--blue);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.item-box-pattern {
  width: 100%;
  height: 468px;
  overflow: auto;
  position: absolute;
  background-image: url("./assets/home/bg-pattern-pricing.svg");
  background-repeat: no-repeat;
  justify-content: center;
  background-size: cover;
}

.bottom-section {
  background-color: var(--black);
}

.alt-bottom-section {
  background-color: var(--white);
}

.flex-bottom-svg {
  display: flex;
  justify-content: center;
}

.alt-date-header {
  margin-top: 5rem;
  font-size: var(--paragraph-mobile);
  line-height: var(--line-height-tall);
  letter-spacing: 5px;
  vertical-align: top;
  font-weight: var(--bolder);
  text-align: center;
  margin: 4rem auto 0;
  width: 100%;
  background-color: var(--fill-white);
}

.date-header {
  font-size: var(--paragraph-mobile);
  line-height: var(--line-height-tall);
  letter-spacing: 5px;
  vertical-align: top;
  font-weight: var(--bolder);
  text-align: center;
  margin: 0 auto;
  padding-top: 6rem;
  width: 100%;
}

.blue-date {
  color: var(--blue);
}

.white-date {
  color: var(--white);
}

.alt-flex-time {
  background-color: var(--fill-white);
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.flex-time {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.alt-text-date-card {
  background-color: rgba(81, 117, 255, 0.1);
  text-align: center;
  padding: 1.2rem;
  border-radius: 0.25rem;
}

.text-date-card {
  background-color: var(--dark-grey);
  text-align: center;
  padding: 1.2rem;
  border-radius: 0.25rem;
}

.alt-number-text {
  margin: 0;
  font-size: var(--number-text);
  font-weight: var(--semi-bold);
  line-height: var(--line-height-tall);
  color: var(--blue);
  vertical-align: bottom;
}

.number-text {
  margin: 0;
  font-size: var(--number-text);
  font-weight: var(--semi-bold);
  line-height: var(--line-height-tall);
  color: var(--white);
  vertical-align: bottom;
}

.alt-time-text {
  margin: 0;
  font-size: var(--time-text);
  font-weight: var(--bolder);
  line-height: var(--line-height-small);
  color: var(--dark-grey);
  opacity: 50%;
  vertical-align: bottom;
}

.time-text {
  margin: 0;
  font-size: var(--time-text);
  font-weight: var(--bolder);
  line-height: var(--line-height-small);
  color: var(--white);
  opacity: 50%;
  vertical-align: bottom;
}

.dropdown-text {
  border-width: 0 0 1px 0;
  padding: 1.25rem 1rem 1.25rem 1rem;
  border-style: none none solid none;
  border-color: var(--grey);
  opacity: 50%;
}

.input-text {
  border-width: 0 0 1px 0;
  padding: 1.25rem 1rem 1.25rem 1rem;
  border-style: none none solid none;
  border-color: var(--grey);
  opacity: 50%;
}

.flex-form {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding: 1rem;
  /* margin: 4rem 1rem 1rem 1rem; */
  margin: 4rem auto;

  border-radius: 1rem;
  max-width: 327px;
}

.sign-up {
  background-color: var(--fill-white);
  position: relative;
}

.blue-bottom {
  position: absolute;
  /* bottom: 0; */
  bottom: -100px;
  left: 0;
  width: 100%;
  height: 320px;
  z-index: -1;
  background-color: var(--black);
  background-image: url("./assets/home/bg-pattern-footer.svg");
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: brightness(2); */
}

.bottom-svg {
  position: absolute;
  /* bottom: 0; */
  bottom: -100px;
  left: 0;
  width: 100%;
  height: 1248px;
  z-index: -1;
  background-color: var(--black);
  background-image: url("./assets/home/bg-pattern-footer.svg");
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: brightness(2); */
}

@media (min-width: 768px) {
  .flex-form {
    max-width: 445px;
    padding: 1.5rem 3rem 3rem 3rem;
  }

  .top-section-paragraph {
    margin: auto;
    max-width: 572px;
  }

  .flex-header {
    justify-content: left;
    margin-left: 2rem;
  }

  .alt-number-text {
    font-size: var(--cost-size);
  }

  .number-text {
    font-size: var(--cost-size);
  }

  .alt-time-text {
    font-size: var(--paragraph-mobile);
  }

  .time-text {
    font-size: var(--paragraph-mobile);
  }

  .text-date-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .alt-text-date-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .alt-background-svg {
    display: none;
  }

  .top-section {
    max-width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Adjust column widths as needed */
    grid-gap: 10px; /* Adjust gap size as needed */
  }

  .text-heading {
    grid-column: 2 / span 1; /* Place in second column and span 1 column */
  }

  .flex-chart {
    grid-column: 1 / span 1; /* Place in first column and span 1 column */
    align-items: center;
  }

  .chart-svg {
    width: 281px;
    height: 314px;
  }

  .white-item-box {
    display: grid;
    max-width: 689px;
    grid-template-columns: 1fr 1fr; /* Creates two equal columns */
    grid-gap: 10px;
  }

  .blue-item-box {
    position: relative;
    background-color: var(--blue);
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    align-items: center;
    text-align: center;
  }

  .card-section {
    max-width: 43.063rem;
  }

  .item-cost-side {
  }

  .item-box-pattern {
    max-width: 100%;
    width: 880px;
    height: 880px;
    overflow: hidden;
    position: absolute;
    background-image: url("./assets/home/bg-pattern-pricing.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 1440px) {
}

/* Next to dos

- Get base level page formatting
- Start on mobile design

*/
