@font-face {
  font-family: "Kumbh";
  src: url("./assets/Kumbh_Sans/KumbhSans-VariableFont_YOPQ\,wght.ttf")
    format("woff2-variations");
  font-weight: 100 900;
}

:root {
  --blue: #5175ff;
  --light-blue: #829cff;
  --black: #25293a;
  --dark-grey: #333950;
  --grey: #747b95;
  --salmon: #f05b5b;
  --white: #ffffff;
  --off-white: #f2f2f2;
  --periwinkle: #e4eaff;
  --periwinkle-dark: #d3dcff;
  --fill-white: #fafafa;

  --kumbh: "Kumbh", sans-serif;

  --cost-size: 3.5rem;
  --header-mobile: 2.5rem;
  --number-text: 2rem;
  --paragraph-mobile: 1rem;
  --card-header: 1.25rem;
  --time-text: 0.75rem;

  --line-height-taller: 4rem;
  --line-height-tall: 3rem;
  --line-height-small: 1.625rem;

  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bolder: 700;
}

.kumbh {
  font-family: var(--kumbh);
}

body {
  background-color: var(--fill-white);
}

.flex-header {
  display: flex;
  justify-content: center;
  margin: 3rem 0 5.8rem 0;
}

.svg-width {
  max-width: 100%;
  height: auto;
}

.background-svg {
  color: black;
  position: absolute;
  top: -10rem;
  left: -2.7rem;
  width: 100%;
  height: 458px;
  background-image: url("./assets/home/bg-pattern-header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.chart-svg {
  position: relative;
  width: 171px;
  height: 192px;
  background-image: url("./assets/home/illustration-charts.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-chart {
  display: flex;
  justify-content: center;
}

.alt-top-section-header {
  color: var(--dark-grey);
  font-size: var(--header-mobile);
  font-weight: var(--bolder);
  vertical-align: top;
  line-height: var(--line-height-tall);
  text-align: center;
}

.top-section-header {
  color: var(--dark-grey);
  font-size: var(--header-mobile);
  font-weight: var(--bolder);
  vertical-align: top;
  line-height: var(--line-height-tall);
  text-align: center;
}

.top-section-paragraph {
  color: var(--grey);
  font-size: var(--paragraph-mobile);
  font-weight: var(--regular);
  vertical-align: top;
  line-height: var(--line-height-small);
  text-align: center;
}

.top-section {
  max-width: 20.5rem;
  margin: 0 auto 5rem;
}

.button1 {
  font-size: var(--paragraph-mobile);
  line-height: var(--line-height-small);
  text-align: left;
  vertical-align: top;
  background-color: var(--blue);
  color: var(--white);
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 2rem;
}

.button2 {
  font-size: var(--paragraph-mobile);
  line-height: var(--line-height-small);
  text-align: left;
  vertical-align: top;
  background-color: var(--periwinkle);
  color: var(--blue);
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 2rem;
  margin: 1rem 0 2rem 0;
}

.button3 {
  font-size: var(--paragraph-mobile);
  line-height: var(--line-height-small);
  text-align: left;
  vertical-align: top;
  background-color: var(--white);
  color: var(--blue);
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 2rem;
}

.button1:hover {
  background-color: var(--light-blue);
}

.button2:hover {
  background-color: var(--periwinkle-dark);
}

.button3:hover {
  color: var(--light-blue);
}

.button-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.white {
  color: var(--white);
}

/* .black {
  color: var(--black);
}

.blue {
  color: var(--blue);
}

.grey {
  color: var(--grey);
} */

.dark-grey {
  color: var(--dark-grey);
}

.grey {
  color: var(--grey);
}

.opacity {
  opacity: 0.75;
}

.card-section {
  display: flex;
  flex-direction: column;
  max-width: 20.5rem;
  gap: 2rem;
  margin: 0 auto;
}

.card-features {
  font-weight: var(--regular);
  line-height: var(--line-height-small);
  vertical-align: top;
  font-size: var(--paragraph-mobile);
}

.card-users {
  font-weight: var(--regular);
  line-height: var(--line-height-small);
  vertical-align: top;
  font-size: var(--paragraph-mobile);
  margin-bottom: 2rem;
}

.card-price {
  font-weight: var(--bolder);
  line-height: var(--line-height-taller);
  font-size: var(--cost-size);
  vertical-align: top;
  margin: 0;
}

.card-header {
  font-weight: var(--bolder);
  line-height: var(--line-height-small);
  vertical-align: top;
  font-size: var(--card-header);
}

.white-item-box {
  background-color: var(--white);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.blue-item-box {
  background-color: var(--blue);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.item-box-patten {
  width: 100%;
  height: 468px;
  overflow: hidden;
  position: absolute;
  background-image: url("./assets/home/bg-pattern-pricing.svg");
  background-repeat: no-repeat;
  justify-content: center;
  background-size: cover;
}

.bottom-section {
  background-color: var(--black);
}

.alt-bottom-section {
  background-color: var(--white);
}

.flex-bottom-svg {
  display: flex;
  justify-content: center;
}

.bottom-svg {
  width: 100%;
  height: 1202px;
  overflow: hidden;
  position: absolute;
  background-image: url("./assets/home/bg-pattern-footer.svg");
  background-repeat: no-repeat;
  /* justify-content: center; */
  background-size: cover;
}

.date-header {
  font-size: var(--paragraph-mobile);
  line-height: var(--line-height-tall);
  letter-spacing: 5px;
  vertical-align: top;
  font-weight: var(--bolder);
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.blue-date {
  color: var(--blue);
}

.white-date {
  color: var(--white);
}

.flex-time {
  display: flex;
  justify-content: space-around;
}

.alt-text-date-card {
  background-color: rgba(81, 117, 255, 0.1);
  text-align: center;
  padding: 1.2rem;
  border-radius: 0.25rem;
}

.text-date-card {
  background-color: var(--dark-grey);
  text-align: center;
  padding: 1.2rem;
  border-radius: 0.25rem;
}

.alt-number-text {
  margin: 0;
  font-size: var(--number-text);
  font-weight: var(--semi-bold);
  line-height: var(--line-height-tall);
  color: var(--blue);
  vertical-align: bottom;
}

.number-text {
  margin: 0;
  font-size: var(--number-text);
  font-weight: var(--semi-bold);
  line-height: var(--line-height-tall);
  color: var(--white);
  vertical-align: bottom;
}

.alt-time-text {
  margin: 0;
  font-size: var(--time-text);
  font-weight: var(--bolder);
  line-height: var(--line-height-small);
  color: var(--dark-grey);
  opacity: 50%;
  vertical-align: bottom;
}

.time-text {
  margin: 0;
  font-size: var(--time-text);
  font-weight: var(--bolder);
  line-height: var(--line-height-small);
  color: var(--white);
  opacity: 50%;
  vertical-align: bottom;
}

.input-text {
  border-width: 0 0 1px 0;
  border-style: none none solid none;
}

/* Next to dos

- Get base level page formatting
- Start on mobile design

*/
